{{define "index"}}
{{template "head" .}}
<section id="banner" class=" center container section">
  <h2>Welcome to Addis Ababa City Road Report Center</h2>
  <a href="/home" class="blue btn-large waves-effect">Report a Complaint</a>
</section></div>
<section class="row center-align container">
  <br><br>
  <h4>Features</h4>
  <div class="col s12 m6 l4">
      <h1 class="fa fa-5x fa-pencil"></h1>
      <h5>Easy Reporting</h5>
    
  </div>
  <div class="col s12 m6 l4">
      <h1 class=" fa fa-5x fa-flash"></h1>
      <h5>Fast Response</h5>
  </div>
  <div class="col s12 m6 l4">
    <h1 class=" fa fa-5x fa-lock"></h1>
    <h5>Very Secure</h5>
</div>
  
</section>
{{template "footer" .}}
{{end}}
