{{define "update"}}
{{template "head" .}}
{{template "nav" .}}
<main>
    <section class=" section row center-align container">
      <div class="row">
        <div id="update" class=" container row">
        
          <form
            class="col s12"
            action="/update/{{.Complaint.ID}}"
            method="post"
            name="update_form"
            enctype="multipart/form-data"
          >
          {{ .CSRF }}
            <h4>Update complaint</h4>
            <div class="row">
                <div class="input-field col s12">
                  <input
                    id="fullname"
                    type="text"
                    name="fullname"
                    placeholder="Full Name"
                    class="validate"
                    disabled
                    required
                    value="{{.Complaint.Fullname}}"
                  />
                  <label for="fullname">Full Name</label>
                </div>
              </div>
            <div class="row">
              <div class="input-field col s12">
                <input
                  id="email"
                  type="email"
                  name="email"
                  placeholder="Email"
                  class="validate"
                  disabled
                  required
                  value="{{.Complaint.Email}}"
                />
                <label for="email">Email</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <textarea name="comment" id="comment" class="materialize-textarea" required>{{.Complaint.Comment}}</textarea>
                <label for="comment">Comment</label>
              </div>
            </div>

            <div class="row">
      
             <div class="file-field input-field  col s12">
           <div class="btn">
             <span>{{if .Complaint.File}}Replace PDF file{{else}}Upload PDF file{{end}}</span>
             <input name="file" type="file" accept=".pdf, application/pdf">
           </div>
           <div class="file-path-wrapper">
             <input  class="file-path validate" type="text">
           </div>
         </div>
         {{if .Complaint.File}}  <a href="/uploads/{{.Complaint.File}}">Download...</a> {{end}}
     </div>
            <div class="row">
              <button
                type="submit"
                name="btn_signup"
                class="col s12 btn btn-large waves-green waves-effect deep-purple"
              >
                Update
              </button>
            </div>
          </form>
        </div>
      </div>
    </section>
  </main>
  {{template "footer" .}}
{{end}}